.wrapper{
  transform-style: preserve-3d;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 50px auto;
}
.circle {
  height: 96px;
  width: 96px;
  border-radius: 50%;
  background: #21201C;

  transform-style: preserve-3d;
}

.orbitingCircle {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  animation: orbit 6s linear;
  animation-iteration-count: infinite;
}

.camera-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.child {
  width: 60px; 
  height: 60px;
  position: absolute;

  right: -30px; 
  top: -30px;
  object-fit: contain;
  
  animation: blink 0.7s linear;
  animation-iteration-count: infinite;
}

.orbitingCircle:hover .child {
  animation-duration: 0.2s;
}

@keyframes blink{
  50% {
    opacity : 0;
  }
}

@keyframes orbit {
  from {
    transform: translate(-50%, -50%) rotateY(0deg) translateZ(74px) rotateY(360deg);
  }
  to {
    transform: translate(-50%, -50%) rotateY(360deg) translateZ(74px) rotateY(0deg);
  }
}
