.wrapper{
  transform-style: preserve-3d;
  /* Centering the component for better visibility if needed, but keeping user styles primarily */
  position: relative;
  width: 100px; /* Approximating size based on contents */
  height: 100px;
  margin: 50px auto; /* Add some margin to center it in the demo */
}
.circle {
  height: 96px;
  width: 96px;
  border-radius: 50%;
  background: #21201C;

  transform-style: preserve-3d;
}

.orbitingCircle {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #FAD757;

  animation: orbit 6s linear;
  animation-iteration-count: infinite;
}
.child {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background: #FFA500;

  transform: translate(75%, -75%);
  animation: blink 0.7s linear;
  animation-iteration-count: infinite;

}

@keyframes blink{
  50% {
    opacity : 0;
  }
}

@keyframes orbit {
  from {
    transform: translate(-50%, -50%) rotateY(0deg) translateZ(74px) rotateY(360deg);
  }
  to {
    transform: translate(-50%, -50%) rotateY(360deg) translateZ(74px) rotateY(0deg);
  }
}
