.App {
  text-align: center;
}

.App-header {
  background-color: #fffce8;
  padding: 20px;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
